@use '../../scss/abstracts/' as *;
._14K7s._17s3a{
    width: 500px;
    height: 200px;
    position: absolute;
    box-shadow: 0px 0px 10px #00000030;
}
.property{
    &-right{
        &-menu{
            list-style: none;
            display: flex;
            flex-direction: column;
            li{
                padding: 10px;
                border-radius: 10px;
                a{
                    display: flex;
                    align-items: center;
                    color: $black;
                }
                &.active{
                    background-color: $red;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    &-container{
       width: 100%;
       border-radius: 20px;
    }
    &-header{
        font-size: $fontSizeLarge;
        font-weight: 600;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    &-body{
        &-stats{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-block{
                width: calc((100% / 3) - 15px);
                background-color: $purple;
                border-radius: 100px;
                box-sizing: border-box;
                padding: 10px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &-header{
                    font-size: $fontSizeNormal;
                    width: 60%;
                }
                &-body{
                    width: 39.9%;
                    display: flex;
                    flex-direction: column;
                    &-total{
                        font-size: $fontSizeMedium;
                        border: 2px solid $purple;
                        border-radius: 50px;
                        display: flex;
                        justify-content: flex-end;
                        padding-inline: 10px;
                        font-weight: 700;
                        color: $orange;
                        align-items: center;
                    }
                }
            }
        }
    }
    &-form{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        border: 1ps solid #00000060;
    }
    &-list{
        background-color: $white;
        margin-top: 20px;
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        max-height: 60vh;
        &-ul{
            border-bottom: 1px solid #00000030;
            padding-bottom: 10px;
            height: auto;
        }
        &-li{
            margin-block: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #00000030;
            height: 80px;
            &:last-child{
                border: none;
                margin-bottom: 0;
            }
        }
        &-head{
            font-weight: 600;
            padding-left: 30px;
            border-right: 2px solid #000;
            &:last-child{
                border: none;
            }
        }
        &-body{
            padding-left: 30px;
            border-right: 1px solid #000;
            height: 100%;
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                object-fit: contain;
                box-shadow: 0px 0px 10px #00000020;
            }
            &:last-child{
                border: none;
                padding-inline: 10px;
            }
            &.title{
                font-weight: 600;
                font-size: 16px;
                .linkc{
                    cursor: pointer;
                }
            }
            &-button{
                width: fit-content;
                padding: 6px 10px;
                border-radius: 10px;
                border: 1px solid #00000020;
                font-size: 20px;
                display: flex;
                align-items: center;
                font-size: 12px;
                position: relative;
                i{
                    font-size: 15px;
                    margin-right: 5px;
                }
                cursor: pointer;
                &:hover{
                    box-shadow: inset 0px 2px 5px #00000030;
                    text-shadow: 0px 2px 5px #00000030;
                }
                &.edit{
                    color: #557cff;
                }
                &.delete{
                    color: $red;
                }
                &.restore{
                    color: $green;
                }
                .count{
                    width: 20px;
                    height: 20px;
                    background-color: $red;
                    border-radius: 50%;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                }
            }
            &-tag{
                color: $white;
                font-size: 12px;
                padding: 2px 10px;
                border-radius: 5px;
                &.draft{
                    background-color: rgb(88, 88, 88);
                }
                &.published{
                    background-color: $green;
                }
            }
            &-title{
                &-buttons{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 5px;
                    gap: 10px;
                    &-button{
                        padding: 2px 5px;
                    }
                }
            }
        }
    }
    &-map{
        width: 100%;
        height: 300px;
        &-marker{
            width: 40px;
            height: 40px;
            transform: translateY(-15px) translateX(-8px);
            display: flex;
            align-items: center;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            &-text{
                width: fit-content;
                padding: 5px;
                font-size: $fontSizeNormal;
                font-weight: 600;
            }
            i{
                font-size: 40px;
                color: $red;
                text-shadow: 0px 0px 40px #FFFFFF;
            }
        }
    }
    &-preview{
        position: fixed;
        z-index: 100;
        right: 20px;
        bottom: 20px;
        width: 30%;
        border: 1px solid $black;
        padding: 20px;
        background-color: $white;
        box-shadow: 0px 0px 10px #00000020;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        &.inactive{
            width: fit-content;
            height: fit-content;
            padding: 0;
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                font-weight: 600;
                padding: 10px 30px;
                cursor: pointer;
            }
        }
        &-header{
            font-weight: 600;
        }
        &-link{
            font-size: 14px;
            color: #000;
        }
        &-title{
            color: #15008f;
        }
        &-image{
            padding-block: 5px;
            box-sizing: border-box;
            img{
                width: 100%;
                height: 80px;
                border: 1px solid #000000;
            }
        }
        &-content{
            font-size: 15px;
            padding-left: 0px;
        }
        &-close{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            i{
                font-size: 24px;
            }
        }
    }
    &-poc{
        display: flex;
        flex-direction: column;
        &-name{
            font-weight: 600;
            color: $black;
            font-size: 14px;
        }
        &-phone{
            display: flex;
            align-items: center;
            color: $purple;
            font-size: 14px;
        }
    }
}