@use '../../scss/abstracts/' as *;

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: $bodyBg;
    &-container{
        width: 30%;
        background-color: $red;
        padding: 20px;
        background-color: $white;
        box-shadow: 4px 6px 12px #00000020;
        border-radius: 15px;
        @include tablet{
            width: 80%;
        }

        @include mobile{
            width: 100%;
        }
    }
    &-head{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $red;
    }
}