@use '../../scss/abstracts/' as *;
.ReactModal__Overlay{
    background-color: transparent !important;
    height: 100%;
    width: 100%;
}
.attr{
    &-right{
        &-menu{
            list-style: none;
            display: flex;
            flex-direction: column;
            li{
                padding: 10px;
                border-radius: 10px;
                a{
                    display: flex;
                    align-items: center;
                    color: $black;
                    i{
                        font-size: 27px;
                    }
                }
                &.active{
                    background-color: $red;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    &-container{
       width: 100%;
       border-radius: 20px;
    }
    &-header{
        font-size: $fontSizeLarge;
        font-weight: 600;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    &-body{
        &-stats{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-block{
                width: calc((100% / 3) - 15px);
                background-color: $purple;
                border-radius: 100px;
                box-sizing: border-box;
                padding: 10px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &-header{
                    font-size: $fontSizeNormal;
                    width: 60%;
                }
                &-body{
                    width: 39.9%;
                    display: flex;
                    flex-direction: column;
                    &-total{
                        font-size: $fontSizeMedium;
                        border: 2px solid $purple;
                        border-radius: 50px;
                        display: flex;
                        justify-content: flex-end;
                        padding-inline: 10px;
                        font-weight: 700;
                        color: $orange;
                        align-items: center;
                    }
                }
            }
        }
    }
    &-form{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        border: 1ps solid #00000060;
    }
    &-list{
        background-color: $white;
        margin-top: 20px;
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        max-height: 60vh;
        &-ul{
            border-bottom: 1px solid #00000030;
            padding-bottom: 10px;
        }
        &-li{
            margin-block: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #00000030;
            height: 50px;
            &:last-child{
                border: none;
                margin-bottom: 0;
            }
        }
        &-head{
            font-weight: 600;
            padding-left: 30px;
            border-right: 2px solid #000;
            &:last-child{
                border: none;
            }
        }
        &-body{
            padding-left: 30px;
            border-right: 1px solid #000;
            height: 100%;
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                object-fit: contain;
                box-shadow: 0px 0px 10px #00000020;
            }
            &:last-child{
                border: none;
            }
        }
    }
    &-modal{
        background-color: #00000050;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-container{
            width: 60%;
            background-color: $white;
            padding: 20px;
            border-radius: 10px;
        }
    }
}